.contenedor-listado{
    width: 50%;
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

.item{
    background-color: #303134;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.imagen-item {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}