*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
    color: #FFF;
    font-family: "Roboto", sans-serif;
}

.btn-primary {
    position: relative;
    white-space: nowrap;
    background-color: #0039a3;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.btn-primary:hover {
    background-color: #003264;
    color: #9dbcff;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    background-color: #0039a3;
    padding: 10px;
}
.last{
    display: flex;
    justify-content: end;
    flex: 1;
}



.cont-listado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px;
}
.contenedor-pedidos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #303134;
    border-radius: 10px;
}
.pedido{
    background-color: #393a3e;
    border-radius: 10px;
}
.cont-datos-usuario{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-producto-pedido{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    background-color: #424347;
    border-radius: 10px;
}

.item-producto-pedido div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contenedor-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
 .videojuego-img {
    border-radius: 20px;
    width: 70%;
    aspect-ratio: 19 / 11;
  }

.item {
    background-color: #303134;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border-radius: 10px;
}

.imagen-item {
    width: 100%;
    aspect-ratio: 19 / 11;
    border-radius: 10px;
    object-fit: cover;
}




/* Formulario admin */